body {
  background-color: black;
  color: #ffffff;
  font-family: Poppins;
  text-align: center;
  line-height: 5px;
  margin-left: 0px;
}

h2 {
  font-weight: 200;
  font-size: calc(2vw + 1vh);
}

p {
  font-weight: 100;
  font-size: 15px;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

img {
  padding: 5px;
}


video {
  padding: 5px;
}

table {
  width: 80%;
  table-layout: fixed;
  line-height: normal;
  margin: auto;
}

table th {
  font-weight: normal;
}

table td {
  font-weight: lighter;
}

.navbar {
  display: grid;
  grid-template-columns: 2;
}

.logo {
  padding: 10px 0 15px 5%;
  float: left;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.logo-name {
  font-weight: 300;
  font-size: 26px;
  vertical-align: middle;
}

.social-icons {
  align-items: center;
  float: right;
  padding-right: 20px;
  padding-top: 25px;
}

.social-icons img {
  padding-left: 10px;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(1, 113, 187, 0.2),
    rgba(1, 113, 187, 0)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.repeater {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 60vh;
}

.single-row {
  grid-template-rows: 100%;
  height: 30vh;
}

.triple-column {
  grid-template-columns: 33.3vw 33.4vw 33.3vw;
}

.repeater-item {
  position: relative;
  transition: 0.2s;
  border: rgba(0, 0, 0, 0);
  height: 100%;
}

.repeater-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.repeater-text {
  width: 40%;
  margin: -5.8% 0 0 -20%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s;
  border-radius: 5px;
}

.hire-repeater-text {
  width: 60%;
  margin: -5.8% 0 0 -30%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s;
  border-radius: 5px;
}

.repeater-item:hover {
  .repeater-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .hire-repeater-text {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.repeater h3 {
  font-weight: 100;
  font-size: 1.2vw;
  padding: 0 5px;
}

.repeater img {
  padding: 0;
}

.centered-over-img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.title-background {
  width: 100%;
  height: 25vh;
  position: relative;
}

.title-background img {
  object-fit: cover;
  filter: blur(3px);
}

.title-background-text {
  position: absolute;
  width: 20%;
  margin: -1.8% 0 0 -10%;
  padding: 0 10px;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1.5px solid rgb(255, 255, 255);
}

.nav-bar {
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.nav-bar a {
  padding-right: 10px;
  padding-left: 10px;
}

#current-page {
  font-weight: normal;
}

.nav-bar a:hover {
  color: #0071bb;
}

.subtitle {
  padding: 30px;
  padding-top: 0px;
  line-height: normal;
}

.subtitle p {
  line-height: normal;
}

.list {
  line-height: 0px;
}

.deck-sizes {
  border-radius: 2px;
  border-style: solid;
  width: 100px;
  height: 50px;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  background-image: url("/images/staging/litedeck-birdseye.png");
  background-size: cover;
  border-color: #C0C0C0;
}

.deck-sizes p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-grid {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.photo-grid img,video {
  width: auto;
  height: 25vw;
}

footer p {
  font-weight: 100;
  font-size: small;
}

footer p strong {
  font-weight: 300;
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }

  .social-icons {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;
  }

  .social-icons img {
    width: 20px;
    padding-left: 5px;
  }

  .repeater {
    grid-template-columns: 100vw;
    grid-template-rows: repeat(8, 12.5%);
    height: 200vh;
  }

  .single-row {
    grid-template-rows: repeat(4, 25%);
    height: 100vh;
  }

  .triple-column {
    grid-template-rows: repeat(6, 16.66%);
    height: 150vh;
  }

  .repeater-text {
    width: 60%;
    margin: -5% 0 0 -30%;
  }

  .hire-repeater-text {
    width: 80%;
    margin: -5% 0 0 -40%;
  }

  .repeater h3 {
    font-size: 4vw;
    font-weight: 200;
  }

  .title-background-text {
    width: 35%;
    left: 32.5%;
    top: 40%;
    margin: auto;
    padding: 0;
  }

  .title-background-text h2 {
    font-size: 4vw;
  }

  .photo-grid img,video {
    height: auto;
    width: 100%;
  }
}
